html {
    font-family: 'Times New Roman', Georgia, serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #737373;
    background-image: url('images/map.png');
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: left bottom;
}

.login {
    font-family: inherit;
    background-color: gray;
    position: absolute;
    top: 0;
    right: 0;
}

.login > a {
    font-family: inherit;
    text-decoration: none;
}

h1 {
    font-family: inherit;
    text-align: center;
}

.data {
    font-family: inherit;
    margin: 2%;
    background-color: grey;
    float: left;
    width: 16%;
    border-radius: 2%;
    -webkit-box-shadow: 1px 2px 3px lightgrey;
    -moz-box-shadow: 1px 2px 3px lightgrey; 
    text-align: center;
}