{% extends "template.html" %}

{% block title %}Edit Item{% endblock %}
{% block header %}Edit {{item.name}}:{% endblock %}

{% block dbdata %}
    <form action="#" method = "post">
        <label for="name"><h3>Name</h3></label>
        <input type ="text" maxlength="40" name="name" value="{{item.name}}">
        
        <label for="Catagory"><h3>catagory</h3></label>
        {% for catagory in catagories %}
                <input type="radio" name="catagory" value="{{catagory.name}}"
                    {% if catagory.name == item.catagory %}checked{% endif %}>{{catagory.name}}<br>
        {% endfor %}
        <br>

        <button type="submit" id="submit">Submit</button>
    </form>
{% endblock %}