{% extends "template.html" %}
{% block title %}Homepage!{% endblock %}
{% block extras %}
  <button class=login>
    {% if log==False %}
      <a href='{{url_for("auth.login")}}'><strong>Login</strong></a>
    {% else %}
      <a href='{{url_for("auth.gdisconnect")}}'><strong>Logout</strong></a>
    {% endif %}
  </button>
{% endblock %}
{% block header %}Catalog{% endblock %}
{% block dbdata %}
  {% for catagory, items in items.items() %}
    <div class='data'>
      <h3>{{catagory.capitalize()}}</h3>
        {% for item in items %}
          <span>{{item.name}}</span><br>
          <span>{{item.owner}}</span><br>
          <a href="{{url_for('editItem', item_name=item.name)}}">Edit</a><br>
          <a href="{{url_for('deleteItem', item_name=item.name)}}">Delete</a>
          <br><br>
        {% endfor %}  
    </div>  
  {% endfor %}
{% endblock %}