{% extends "template.html" %}

{% block title %}New Item{% endblock %}
{% block header %}Make new item:{% endblock %}

{% block dbdata %}
    <form action="#" method = "post">
        <label for="name"><h3>Name</h3></label>
        <input type ="text" maxlength="40" name="name">
        
        <label for="Catagory"><h3>catagory</h3></label>
        {% for catagory in catagories %}
            <input type="radio" name="catagory" value="{{catagory.name}}">{{catagory.name}}<br>
        {% endfor %}
        <br>

        <button type="submit" id="submit">Submit</button>
    </form>
{% endblock %}