<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block viewport %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Hello?{% endblock %}</title>
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
    {% endblock %}
    {% block js %}{% endblock %}
</head>

<body>
    {% block extras %}{% endblock %}
    <h2>{% block header %}{% endblock %}</h2>
    {% block dbdata %}{% endblock %}
</body>
</html>