{% extends "template.html" %}

{% block title %}View Catagory{% endblock %}

{% block header %}View items in {{catagory.capitalize()}}{% endblock %}

{% block dbdata %}
  <button class=new_item>
    <a href='{{url_for("newItem")}}'><strong>New Item</strong></a>
  </button>
  {% for item in items %}
    <br><br>
    <span class='item-name'>{{item.name}}</span><br>
    <span class='item-owner'>{{item.owner}}</span><br>
    <a href="{{url_for('editItem', item_name=item.name)}}">Edit</a><br>
    <a href="{{url_for('deleteItem', item_name=item.name)}}">Delete</a>
  {% endfor %}
{% endblock %}